.logo {
  float: left;
  height: 135px;
}

.header {
  background-color: lighten(#222, 10%);
  height: 140px;
  padding: 0px 20px;
  color: white;
}

.navigation {
  float: right;
  padding-top: 45px;
  padding-right: 45px;
}